<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto Condensed', sans-serif;
        }

        .has-search .form-control {
            padding-left: 2.375rem;
        }

        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }
        .footbar{
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            margin-bottom: 0px;
        }
    </style>
    <title>{{ page.title }}</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
        <div class="container">

            <a class="navbar-brand" href="{{ site.url }}"><i class="fa fa-user-secret mr-1"></i> hadian alkani</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0 ml-auto mr-auto">
                    <div class="form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search this blog">
                    </div>
                </form>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fa fa-home mr-1"></i>Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ 'feed.xml' | relative_url }}"><i class="fa fa-rss mr-1"></i>RSS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <a href="#" class="btn btn-success disabled">#Android</a>
                <a href="#" class="btn btn-primary disabled">#Book</a>
                <a href="#" class="btn btn-secondary disabled">#Tutorial</a>
            </div>
        </div>
    </div>

    {{ content }}

    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="bg-primary shadow-sm rounded" style="height: 300px;"></div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="bg-secondary shadow-sm rounded" style="height: 300px;"></div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="bg-info shadow-sm rounded" style="height: 300px;"></div>
            </div>
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="bg-dark shadow-sm rounded" style="height: 300px;"></div>
            </div>
        </div>
    </div>

    <footer>
        <nav class="navbar navbar-dark bg-dark shadow-sm footbar">
            <div class="container">
                <ul class="navbar-nav ml-auto mr-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ 'feed.xml' | relative_url }}"><i class="fa fa-copyright mr-1"></i>Hadian Alkani 2019</a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>