---
layout: default
---

{%- if site.posts.size > 0 -%}
<div class="container mt-3">
  <div class="row">
    {%- for post in site.posts -%}
    <div class="col-lg-6 mb-3">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h5>
          <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
          <a href="{{ post.url | relative_url }}" class="btn btn-sm btn-primary">Read More</a>
        </div>
        <div class="card-footer text-muted">
          <span>{{ post.date | date: "%-d %B %Y" }}</span>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
</div>

{%- endif -%}